In [8]:
import pandas as pd
employees = pd.read_csv('C:/Users/kaushik/PycharmProjects/PRJ_2/EMPLOYEES.csv')
departments = pd.read_csv('C:/Users/kaushik/PycharmProjects/PRJ_2/DEPARTMENTS.csv')

In [ ]:
employees.set_index('EMPLOYEE_ID', inplace = True)
departments.set_index('DEPARTMENT_ID', inplace = True)

In [4]:
employees.head()

,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
EMPLOYEE_ID,,,,,,,,,,
100,Steven,King,SKING,515.123.4567,17-06-03,AD_PRES,24000,NaN,NaN,90.0
101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-09-05,AD_VP,17000,NaN,100.0,90.0
102,Lex,De Haan,LDEHAAN,515.123.4569,13-01-01,AD_VP,17000,NaN,100.0,90.0
103,Alexander,Hunold,AHUNOLD,590.423.4567,03-01-06,IT_PROG,9000,NaN,102.0,60.0
104,Bruce,Ernst,BERNST,590.423.4568,21-05-07,IT_PROG,6000,NaN,103.0,60.0

In [75]:
departments.head()

               DEPARTMENT_NAME  MANAGER_ID  LOCATION_ID
DEPARTMENT_ID
10              Administration       200.0         1700
20                   Marketing       201.0         1800
30                  Purchasing       114.0         1700
40             Human Resources       203.0         2400
50                    Shipping       121.0         1500

In [47]:
e2 = employees.set_index('DEPARTMENT_ID')
pd.concat ( [ e2[['FIRST_NAME','LAST_NAME']] , departments ]) # Join Employees with departments

,DEPARTMENT_NAME,FIRST_NAME,LAST_NAME,LOCATION_ID,MANAGER_ID
DEPARTMENT_ID,,,,,
90.0,NaN,Steven,King,NaN,NaN
90.0,NaN,Neena,Kochhar,NaN,NaN
90.0,NaN,Lex,De Haan,NaN,NaN
60.0,NaN,Alexander,Hunold,NaN,NaN
60.0,NaN,Bruce,Ernst,NaN,NaN
60.0,NaN,David,Austin,NaN,NaN
60.0,NaN,Valli,Pataballa,NaN,NaN
60.0,NaN,Diana,Lorentz,NaN,NaN
100.0,NaN,Nancy,Greenberg,NaN,NaN
100.0,NaN,Daniel,Faviet,NaN,NaN
100.0,NaN,John,Chen,NaN,NaN
100.0,NaN,Ismael,Sciarra,NaN,NaN
100.0,NaN,Jose Manuel,Urman,NaN,NaN
100.0,NaN,Luis,Popp,NaN,NaN
30.0,NaN,Den,Raphaely,NaN,NaN
30.0,NaN,Alexander,Khoo,NaN,NaN
30.0,NaN,Shelli,Baida,NaN,NaN
30.0,NaN,Sigal,Tobias,NaN,NaN
30.0,NaN,Guy,Himuro,NaN,NaN
30.0,NaN,Karen,Colmenares,NaN,NaN
50.0,NaN,Matthew,Weiss,NaN,NaN
50.0,NaN,Adam,Fripp,NaN,NaN
50.0,NaN,Payam,Kaufling,NaN,NaN
50.0,NaN,Shanta,Vollman,NaN,NaN
50.0,NaN,Kevin,Mourgos,NaN,NaN
50.0,NaN,Julia,Nayer,NaN,NaN
50.0,NaN,Irene,Mikkilineni,NaN,NaN
50.0,NaN,James,Landry,NaN,NaN
50.0,NaN,Steven,Markle,NaN,NaN
50.0,NaN,Laura,Bissot,NaN,NaN
...,...,...,...,...,...
70.0,NaN,Hermann,Baer,NaN,NaN
110.0,NaN,Shelley,Higgins,NaN,NaN
110.0,NaN,William,Gietz,NaN,NaN
10.0,Administration,NaN,NaN,1700.0,200.0
20.0,Marketing,NaN,NaN,1800.0,201.0
30.0,Purchasing,NaN,NaN,1700.0,114.0
40.0,Human Resources,NaN,NaN,2400.0,203.0
50.0,Shipping,NaN,NaN,1500.0,121.0
60.0,IT,NaN,NaN,1400.0,103.0
70.0,Public Relations,NaN,NaN,2700.0,204.0
80.0,Sales,NaN,NaN,2500.0,145.0
90.0,Executive,NaN,NaN,1700.0,100.0
100.0,Finance,NaN,NaN,1700.0,108.0
110.0,Accounting,NaN,NaN,1700.0,205.0
120.0,Treasury,NaN,NaN,1700.0,NaN
130.0,Corporate Tax,NaN,NaN,1700.0,NaN
140.0,Control And Credit,NaN,NaN,1700.0,NaN
150.0,Shareholder Services,NaN,NaN,1700.0,NaN
160.0,Benefits,NaN,NaN,1700.0,NaN
170.0,Manufacturing,NaN,NaN,1700.0,NaN
180.0,Construction,NaN,NaN,1700.0,NaN
190.0,Contracting,NaN,NaN,1700.0,NaN
200.0,Operations,NaN,NaN,1700.0,NaN
210.0,IT Support,NaN,NaN,1700.0,NaN
220.0,NOC,NaN,NaN,1700.0,NaN
230.0,IT Helpdesk,NaN,NaN,1700.0,NaN
240.0,Government Sales,NaN,NaN,1700.0,NaN
250.0,Retail Sales,NaN,NaN,1700.0,NaN
260.0,Recruiting,NaN,NaN,1700.0,NaN
270.0,Payroll,NaN,NaN,1700.0,NaN

In [5]:
myemployees = pd.Series( ['Steven','Alexander'], index = [100,103])

In [7]:
myemployees

100       Steven
103    Alexander
dtype: object

0    a
1    b
2    c
3    d
dtype: object

In [6]:
import numpy as np
frameabcd = pd.DataFrame(np.arange(4),index=list('abcd'), columns=['NUM'])
frameabcd
seriesabcd = frameabcd.loc['a']
seriesabcd

NUM    0
Name: a, dtype: int32

In [39]:
frameabcd + seriesabcd

   NUM
a    0
b    1
c    2
d    3

In [7]:
employees.head()
employees['SALARY'] = employees['SALARY'].apply(lambda x : int(x * 1.25))
employees.head()
employees[employees['SALARY'] > 10000]
employees[employees['SALARY'] > 10000].min()

FIRST_NAME                      Adam
LAST_NAME                       Abel
EMAIL                       AERRAZUR
PHONE_NUMBER      011.44.1343.729268
HIRE_DATE                   01-08-04
JOB_ID                    AC_ACCOUNT
SALARY                         10250
COMMISSION_PCT                  0.15
MANAGER_ID                       100
DEPARTMENT_ID                     20
dtype: object

In [57]:
#Display columns in sorted (descending in this case) order
employees.sort_index(axis = 1, ascending = False)

#Order employes by decreasing salaries
employees.sort_values(by='SALARY', ascending = False)

#Rank Salaries and append it as a new column 
employees['RANK'] = employees['SALARY'].rank() #Defalut is by weigthed average 
employees['RANK'] = employees['SALARY'].rank(method = 'first') # order of appearance
employees['RANK'] = employees['SALARY'].rank(method = 'min') # In a series [1,2 3,3,5] 3 and 3 are ranked 3, 5 is ranked 5
employees['RANK'] = employees['SALARY'].rank(method = 'max') # In a series [1,2 3,3,5] 3 and 3 are ranked 4, 5 is ranked 5
employees['RANK'] = employees['SALARY'].rank(method = 'max') # In a series [1,2 3,3,5] 3 and 3 are 3, 5 is ranked 4

In [60]:
#Sort the entire dataframe by rank
employees.sort_values(by='RANK', ascending = False)

,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID,RANK
EMPLOYEE_ID,,,,,,,,,,,
100,Steven,King,SKING,515.123.4567,17-06-03,AD_PRES,24000,NaN,NaN,90.0,107.0
102,Lex,De Haan,LDEHAAN,515.123.4569,13-01-01,AD_VP,17000,NaN,100.0,90.0,106.0
101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-09-05,AD_VP,17000,NaN,100.0,90.0,106.0
145,John,Russell,JRUSSEL,011.44.1344.429268,01-10-04,SA_MAN,14000,0.40,100.0,80.0,104.0
146,Karen,Partners,KPARTNER,011.44.1344.467268,05-01-05,SA_MAN,13500,0.30,100.0,80.0,103.0
201,Michael,Hartstein,MHARTSTE,515.123.5555,17-02-04,MK_MAN,13000,NaN,100.0,20.0,102.0
108,Nancy,Greenberg,NGREENBE,515.124.4569,17-08-02,FI_MGR,12008,NaN,101.0,100.0,101.0
205,Shelley,Higgins,SHIGGINS,515.123.8080,07-06-02,AC_MGR,12008,NaN,101.0,110.0,101.0
147,Alberto,Errazuriz,AERRAZUR,011.44.1344.429278,10-03-05,SA_MAN,12000,0.30,100.0,80.0,99.0
168,Lisa,Ozer,LOZER,011.44.1343.929268,11-03-05,SA_REP,11500,0.25,148.0,80.0,98.0
148,Gerald,Cambrault,GCAMBRAU,011.44.1344.619268,15-10-07,SA_MAN,11000,0.30,100.0,80.0,97.0
174,Ellen,Abel,EABEL,011.44.1644.429267,11-05-04,SA_REP,11000,0.30,149.0,80.0,97.0
114,Den,Raphaely,DRAPHEAL,515.127.4561,07-12-02,PU_MAN,11000,NaN,100.0,30.0,97.0
162,Clara,Vishney,CVISHNEY,011.44.1346.129268,11-11-05,SA_REP,10500,0.25,147.0,80.0,94.0
149,Eleni,Zlotkey,EZLOTKEY,011.44.1344.429018,29-01-08,SA_MAN,10500,0.20,100.0,80.0,94.0
204,Hermann,Baer,HBAER,515.123.8888,07-06-02,PR_REP,10000,NaN,101.0,70.0,92.0
150,Peter,Tucker,PTUCKER,011.44.1344.129268,30-01-05,SA_REP,10000,0.30,145.0,80.0,92.0
156,Janette,King,JKING,011.44.1345.429268,30-01-04,SA_REP,10000,0.35,146.0,80.0,92.0
169,Harrison,Bloom,HBLOOM,011.44.1343.829268,23-03-06,SA_REP,10000,0.20,148.0,80.0,92.0
170,Tayler,Fox,TFOX,011.44.1343.729268,24-01-06,SA_REP,9600,0.20,148.0,80.0,88.0
157,Patrick,Sully,PSULLY,011.44.1345.929268,04-03-04,SA_REP,9500,0.35,146.0,80.0,87.0
151,David,Bernstein,DBERNSTE,011.44.1344.345268,24-03-05,SA_REP,9500,0.25,145.0,80.0,87.0
163,Danielle,Greene,DGREENE,011.44.1346.229268,19-03-07,SA_REP,9500,0.15,147.0,80.0,87.0
158,Allan,McEwen,AMCEWEN,011.44.1345.829268,01-08-04,SA_REP,9000,0.35,146.0,80.0,84.0
103,Alexander,Hunold,AHUNOLD,590.423.4567,03-01-06,IT_PROG,9000,NaN,102.0,60.0,84.0
152,Peter,Hall,PHALL,011.44.1344.478968,20-08-05,SA_REP,9000,0.25,145.0,80.0,84.0
109,Daniel,Faviet,DFAVIET,515.124.4169,16-08-02,FI_ACCOUNT,9000,NaN,108.0,100.0,84.0
175,Alyssa,Hutton,AHUTTON,011.44.1644.429266,19-03-05,SA_REP,8800,0.25,149.0,80.0,80.0
176,Jonathon,Taylor,JTAYLOR,011.44.1644.429265,24-03-06,SA_REP,8600,0.20,149.0,80.0,79.0
177,Jack,Livingston,JLIVINGS,011.44.1644.429264,23-04-06,SA_REP,8400,0.20,149.0,80.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...
181,Jean,Fleaur,JFLEAUR,650.507.9877,23-02-06,SH_CLERK,3100,NaN,120.0,50.0,30.0
196,Alana,Walsh,AWALSH,650.507.9811,24-04-06,SH_CLERK,3100,NaN,124.0,50.0,30.0
115,Alexander,Khoo,AKHOO,515.127.4562,18-05-03,PU_CLERK,3100,NaN,114.0,30.0,30.0
142,Curtis,Davies,CDAVIES,650.121.2994,29-01-05,ST_CLERK,3100,NaN,124.0,50.0,30.0
187,Anthony,Cabrio,ACABRIO,650.509.4876,07-02-07,SH_CLERK,3000,NaN,121.0,50.0,26.0
197,Kevin,Feeney,KFEENEY,650.507.9822,23-05-06,SH_CLERK,3000,NaN,124.0,50.0,26.0
190,Timothy,Gates,TGATES,650.505.3876,11-07-06,SH_CLERK,2900,NaN,122.0,50.0,24.0
134,Michael,Rogers,MROGERS,650.127.1834,26-08-06,ST_CLERK,2900,NaN,122.0,50.0,24.0
116,Shelli,Baida,SBAIDA,515.127.4563,24-12-05,PU_CLERK,2900,NaN,114.0,30.0,24.0
130,Mozhe,Atkinson,MATKINSO,650.124.6234,30-10-05,ST_CLERK,2800,NaN,121.0,50.0,21.0
183,Girard,Geoni,GGEONI,650.507.9879,03-02-08,SH_CLERK,2800,NaN,120.0,50.0,21.0
117,Sigal,Tobias,STOBIAS,515.127.4564,24-07-05,PU_CLERK,2800,NaN,114.0,30.0,21.0
195,Vance,Jones,VJONES,650.501.4876,17-03-07,SH_CLERK,2800,NaN,123.0,50.0,21.0
126,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-09-06,ST_CLERK,2700,NaN,120.0,50.0,17.0
139,John,Seo,JSEO,650.121.2019,12-02-06,ST_CLERK,2700,NaN,123.0,50.0,17.0
199,Douglas,Grant,DGRANT,650.507.9844,13-01-08,SH_CLERK,2600,NaN,124.0,50.0,15.0
198,Donald,OConnell,DOCONNEL,650.507.9833,21-06-07,SH_CLERK,2600,NaN,124.0,50.0,15.0
118,Guy,Himuro,GHIMURO,515.127.4565,15-11-06,PU_CLERK,2600,NaN,114.0,30.0,15.0
143,Randall,Matos,RMATOS,650.121.2874,15-03-06,ST_CLERK,2600,NaN,124.0,50.0,15.0
140,Joshua,Patel,JPATEL,650.121.1834,06-04-06,ST_CLERK,2500,NaN,123.0,50.0,11.0
131,James,Marlow,JAMRLOW,650.124.7234,16-02-05,ST_CLERK,2500,NaN,121.0,50.0,11.0
144,Peter,Vargas,PVARGAS,650.121.2004,09-07-06,ST_CLERK,2500,NaN,124.0,50.0,11.0
191,Randall,Perkins,RPERKINS,650.505.4876,19-12-07,SH_CLERK,2500,NaN,122.0,50.0,11.0
119,Karen,Colmenares,KCOLMENA,515.127.4566,10-08-07,PU_CLERK,2500,NaN,114.0,30.0,11.0
182,Martha,Sullivan,MSULLIVA,650.507.9878,21-06-07,SH_CLERK,2500,NaN,120.0,50.0,11.0
127,James,Landry,JLANDRY,650.124.1334,14-01-07,ST_CLERK,2400,NaN,120.0,50.0,5.0
135,Ki,Gee,KGEE,650.127.1734,12-12-07,ST_CLERK,2400,NaN,122.0,50.0,5.0
128,Steven,Markle,SMARKLE,650.124.1434,08-03-08,ST_CLERK,2200,NaN,120.0,50.0,3.0
136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-02-08,ST_CLERK,2200,NaN,122.0,50.0,3.0
132,TJ,Olson,TJOLSON,650.124.8234,10-04-07,ST_CLERK,2100,NaN,121.0,50.0,1.0

In [62]:
obj = pd.Series([1, 2, 3, 3, 5])

In [63]:
obj.rank(method='first')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [64]:
obj.rank(method='min')

0    1.0
1    2.0
2    3.0
3    3.0
4    5.0
dtype: float64

In [65]:
obj.rank(method='max')

0    1.0
1    2.0
2    4.0
3    4.0
4    5.0
dtype: float64

In [66]:
obj.rank(method='dense')

0    1.0
1    2.0
2    3.0
3    3.0
4    4.0
dtype: float64

In [7]:
employees['SALARY'].sum() #sum across columns

691416

In [10]:
employees['FIRST_NAME'].sum() #appends all the fisrtname into single string

'StevenNeenaLexAlexanderBruceDavidValliDianaNancyDanielJohnIsmaelJose ManuelLuisDenAlexanderShelliSigalGuyKarenMatthewAdamPayamShantaKevinJuliaIreneJamesStevenLauraMozheJamesTJJasonMichaelKiHazelRenskeStephenJohnJoshuaTrennaCurtisRandallPeterJohnKarenAlbertoGeraldEleniPeterDavidPeterChristopherNanetteOliverJanettePatrickAllanLindseyLouiseSarathClaraDanielleMatteaDavidSundarAmitLisaHarrisonTaylerWilliamElizabethSunditaEllenAlyssaJonathonJackKimberelyCharlesWinstonJeanMarthaGirardNanditaAlexisJuliaAnthonyKellyJenniferTimothyRandallSarahBritneySamuelVanceAlanaKevinDonaldDouglasJenniferMichaelPatSusanHermannShelleyWilliam'

In [42]:
#minimum saa]lary till the point of reference.
employees.set_index('DEPARTMENT_ID').sort_index()['SALARY'].cummin()

#Percentage change in Salary across departments for each employee.
employees.set_index('DEPARTMENT_ID').sort_index()['SALARY'].pct_change()
#unique FIRSTNAME as an array
employees['FIRST_NAME'].unique()
#No of occurences of each Fname.
employees['FIRST_NAME'].value_counts()

#Check for existence of firstname .
employees[employees['FIRST_NAME'].isin(['Kaushik','Namrata','Michael'])]

,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
EMPLOYEE_ID,,,,,,,,,,
100,94.5,52.5,90.0,37.0,57.0,4.0,107.0,NaN,NaN,97.0
101,75.0,54.0,74.0,38.0,75.0,5.5,105.5,NaN,7.5,97.0
102,61.0,21.0,61.0,39.0,40.0,5.5,105.5,NaN,7.5,97.0
103,4.5,46.0,6.0,58.0,5.0,16.0,82.5,NaN,20.0,58.0
104,12.0,25.0,11.0,59.0,72.0,16.0,51.5,NaN,22.5,58.0
105,20.0,4.0,17.0,60.0,95.0,16.0,48.5,NaN,22.5,58.0
106,103.0,77.0,104.0,57.0,13.0,16.0,48.5,NaN,22.5,58.0
107,23.0,60.0,23.0,61.0,16.5,16.0,45.5,NaN,22.5,58.0
108,72.0,40.0,73.0,50.0,58.0,12.0,100.5,NaN,17.0,101.5
109,17.0,28.0,19.0,45.0,53.0,9.0,82.5,NaN,27.0,101.5
110,46.0,17.0,38.0,46.0,99.0,9.0,75.5,NaN,27.0,101.5
111,36.0,87.0,36.0,47.0,106.0,9.0,69.0,NaN,27.0,101.5
112,49.0,100.0,46.0,48.0,18.0,9.0,70.0,NaN,27.0,101.5
113,65.0,81.0,64.0,49.0,24.0,9.0,60.0,NaN,27.0,101.5
114,22.0,83.0,25.0,51.0,23.0,27.0,96.0,NaN,7.5,6.5
115,4.5,51.0,8.0,52.0,62.0,24.0,28.5,NaN,32.0,6.5
116,91.0,6.0,87.0,53.0,94.0,24.0,23.0,NaN,32.0,6.5
117,92.0,97.0,97.0,54.0,93.0,24.0,19.5,NaN,32.0,6.5
118,31.0,45.0,31.0,55.0,49.0,24.0,13.5,NaN,32.0,6.5
119,53.5,19.0,54.0,56.0,32.0,24.0,8.5,NaN,32.0,6.5
120,68.0,105.0,71.0,71.0,63.0,105.0,73.0,NaN,7.5,33.0
121,1.0,33.0,5.0,72.0,30.0,105.0,75.5,NaN,7.5,33.0
122,79.0,50.0,79.0,73.0,1.0,105.0,71.0,NaN,7.5,33.0
123,89.0,103.0,98.0,74.0,33.0,105.0,57.5,NaN,7.5,33.0
124,56.5,70.0,58.0,75.0,54.0,105.0,50.0,NaN,7.5,33.0
125,51.5,71.0,47.0,76.0,52.0,92.5,32.5,NaN,38.5,33.0
126,35.0,69.0,35.0,77.0,100.0,92.5,16.5,NaN,38.5,33.0
127,38.5,57.0,43.0,78.0,43.0,92.5,4.5,NaN,38.5,33.0
128,94.5,62.0,92.0,79.0,25.0,92.5,2.5,NaN,38.5,33.0
129,60.0,11.0,60.0,80.0,68.5,92.5,35.5,NaN,46.5,33.0
...,...,...,...,...,...,...,...,...,...,...
177,37.0,59.0,44.0,32.0,80.0,47.5,78.0,15.0,101.5,78.5
178,59.0,38.5,57.0,31.0,91.0,47.5,62.0,9.0,101.5,NaN
179,13.0,48.0,14.0,30.0,9.0,47.5,54.5,3.5,101.5,78.5
180,107.0,95.5,107.0,100.0,83.5,72.5,32.5,NaN,38.5,33.0
181,42.0,31.0,41.0,101.0,76.0,72.5,28.5,NaN,38.5,33.0
182,66.0,93.0,70.0,102.0,73.5,72.5,8.5,NaN,38.5,33.0
183,30.0,36.0,30.0,103.0,6.0,72.5,19.5,NaN,38.5,33.0
184,73.0,86.0,75.0,104.0,98.0,72.5,45.5,NaN,46.5,33.0
185,6.0,13.0,2.0,105.0,67.0,72.5,44.0,NaN,46.5,33.0
186,51.5,22.0,39.0,106.0,92.0,72.5,37.0,NaN,46.5,33.0
187,10.0,14.0,3.0,107.0,16.5,72.5,25.5,NaN,46.5,33.0
188,55.0,18.0,53.0,92.0,45.0,72.5,41.0,NaN,54.5,33.0
189,43.5,23.0,40.0,93.0,42.0,72.5,39.5,NaN,54.5,33.0
190,101.0,34.0,100.0,94.0,36.0,72.5,23.0,NaN,54.5,33.0
191,83.5,79.0,85.0,95.0,66.0,72.5,8.5,NaN,54.5,33.0
192,87.0,9.0,88.0,88.0,10.0,72.5,43.0,NaN,62.5,33.0
193,11.0,27.0,12.0,89.0,7.0,72.5,42.0,NaN,62.5,33.0
194,86.0,67.0,94.0,90.0,2.0,72.5,32.5,NaN,62.5,33.0
195,104.0,49.0,103.0,91.0,56.0,72.5,19.5,NaN,62.5,33.0
196,2.0,104.0,10.0,96.0,90.0,72.5,28.5,NaN,70.5,33.0
197,56.5,30.0,55.0,97.0,81.0,72.5,25.5,NaN,70.5,33.0
198,24.0,72.0,24.0,98.0,73.5,72.5,13.5,NaN,70.5,33.0
199,25.0,38.5,20.0,99.0,41.0,72.5,13.5,NaN,70.5,33.0
200,43.5,106.0,52.0,36.0,60.0,3.0,47.0,NaN,17.0,1.0
201,69.5,43.0,67.0,40.0,55.0,19.0,102.0,NaN,7.5,2.5
202,77.0,29.0,77.0,62.0,59.0,20.0,51.5,NaN,105.0,2.5
203,98.0,66.0,93.0,41.0,20.5,13.0,57.5,NaN,17.0,10.0
204,34.0,5.0,32.0,44.0,20.5,21.0,90.5,NaN,17.0,61.0
205,90.0,44.0,89.0,42.0,20.5,2.0,100.5,NaN,17.0,105.5
206,105.5,37.0,105.0,43.0,20.5,1.0,77.0,NaN,106.0,105.5